{% extends "indexx.html" %}
{% block content %}

<div class="card" style="width: 65rem;">
  <div class="card-body">
    <h5 class="card-title">Educations View</h5>

<table class="table">
  <thead>
    <tr>
      <th scope="col">SL</th>
      <th scope="col">NAME</th>
            <th scope="col">EMAIL</th>
      <th scope="col">COURSE</th>
      <th scope="col">UNIVERSITY</th>
        <th scope="col">YEAR</th>

    </tr>
  </thead>
  <tbody>
      {% for i in data %}
    <tr>
      <td>{{forloop.counter}}</td>
                  <td>{{i.candidate.name}}</td>
                        <td>{{i.candidate.email}}</td>
      <td>{{i.course}}</td>
        <td>{{i.university}}</td>
                <td>{{i.year}}</td>
        <td><a href="{% url 'view' %}" class="btn btn-primary">VIEW</a> </td>
<td><a href="" class="btn btn-success">EDIT</a> </td>
        <td><a href="{% url 'delete' i.id %}" class="btn btn-danger">DELETE</a> </td>

    </tr>


{% endfor %}
  </tbody>
  </table>
    {% endblock %}


        </div>
</div>